
.pos__h1{
    color: #d5e4e6;
    font-size: 30px;
    font-family: "montserrat";
    text-align: center;
}
h2{
    font-family: 'EB Garamond', serif;
}
.cert__done {
    width: 80%;
    margin-left:10%;
    height: 100vh;
    z-index: -999;
   background-repeat: no-repeat;
   background-size: 100% 95vh;
    
}
.certificate {
    width: 80%;
    height: 96vh;
    margin-left: 10%;
}
