.data{
    /* width: 100%;
    height: 100vh; */
    z-index:9999;
}
 .data h2,p{
     font-family:"montserrat";
     position:absolute;
     background:none;
 }
 .name {
     margin-top:17%;
     margin-left:45%;
     font-size:25px;
 }
 .date{
    font-family:"montserrat";
    position:absolute;
    background:none;
     margin-top:17%;
     margin-left:68%;
     font-size:20px;
 }
 p{ 
     font-size:15px;
     margin-top:23%;
     margin-left:20%;
     width: 60%;
 }
 .sg1,.sg2{
     font-size:20px;
     margin-top:37%;
 }
 .sg1{
     margin-left:26%;
 }
 .sg2{
     margin-left:68%;
 }
 
